<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>
  =--------------------------------------------=
</pre>
<pre>
  -----------------Custom-Error----------------=
  {{msg}}
</pre>
<pre>{{error.stack}}</pre>